<%= form_for(@aws_picture) do |f| %>
  <% if @aws_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_picture.errors.count, "error") %> prohibited this aws_picture from being saved:</h2>

      <ul>
      <% @aws_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
