<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="color: red">FOR FITSBY EMPLOYEES ONLY</h4>
    <p>This asshole user just attempted another workout at an unverified gym on our blacklist. On Android, it should have denied him. Here's more information on the user and the gym:</p>

    <strong>Description:</strong> <%= @string %><br/>
    <strong>User ID:</strong> <%= @user.id %><br/>
    <strong>User email:</strong> <%= @user_email %><br/>
    <strong>Gym name:</strong> <%= @gym_name %><br/>
    <strong>Geo lat:</strong> <%= @geo_lat %><br/>
    <strong>Geo long:</strong> <%= @geo_long %><br/>
    <strong>Number of requests this user has made for this gym:</strong> <%= @number_of_requests %><br/>
    
  </body>
</html>