<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="color: red">FOR FITSBY EMPLOYEES ONLY</h4>
    <p>Pay the winners of game id: <%= @game_id %></p>
    <p>
      You owe <strong><%= @winner1.email %></strong>: <span style="color:red">$<%= @winner1_money_won %></span>.<br/>
      You owe <strong><%= @winner2.email %></strong>: <span style="color:red">$<%= @winner2_money_won %></span>.<br/>
      You owe <strong><%= @winner3.email %></strong>: <span style="color:red">$<%= @winner3_money_won %></span>.
    </p>

    <br/>
    
    Use <a href="https://www.paypal.com/webapps/mpp/send-money-online">PayPal Send Money Online</a>.

    <br/>

    <p>Total money paid by losers:</p>
    <p>
     <strong><%= @total_amount_charged_to_losers %>
    </p>

    <br/>

    <p>
      Fitsby made this much money: <span style="color: green">$<%= @fitsby_money_won %></span>
      <br/><br/>
      Remember to check this email as a green checkmark so we know that we paid these people! Thanks guy.
    </p>
    
  </body>
</html>