<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="color: red">CHECK TO SEE IF THIS USER SUCCESSFUL CHECKED OUT</h4>
    <p></p>
    <p>
      <strong>User id: </strong><%= @user_id %>
      <strong>Game Member id: </strong><%= @game_member_id  %>
      <strong>Check In Time: </strong><%= @check_in_time  %>
      <strong>Successful Checks Before this Check in : </strong><%= @successful_checks_before %>
      <strong>Geo lat on check in: </strong><%= @geo_lat %>
      <strong>Geo lat on check in: </strong><%= @geo_long  %> 
    </p>

    
  </body>
</html>