<h1>Listing comments</h1>

<table>
  <tr>
    <th>from_game_id</th>
    <th>from_user_id</th>
    <th>name</th>
    <th>Message</th>
    <th>Stamp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.from_game_id %></td>
    <td><%= comment.from_user_id %></td>
    <td><%= comment.first_name %></td>
    <td><%= comment.message %></td>
    <td><%= comment.stamp %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
