<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @comment.from_user_id %>
</p>

<p>
  <b>Game:</b>
  <%= @comment.from_game_id %>
</p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>

<p>
  <b>Stamp:</b>
  <%= @comment.stamp %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
