<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4 style="color: red">FOR FITSBY EMPLOYEES ONLY</h4>
    <p>There was an error charging a user's credit card using stripe:</p>
    <p>
      <strong>User id: <%= @user_id %></strong>
      <strong>Game id: <%= @game_id %></strong>
      <strong>User email: <%= @email %></strong>
      <strong>Amount atempted to charge: <%= @amount %></strong>
      <strong>Stripe customer id: <%= @customer_id %></strong>
      <strong>Stripe says: <%= @message %></strong>
    </p>

    <br/>
      <p>Find out what went wrong :)</p>

    
  </body>
</html>