<h2>My Profile</h2>
<p><%=h @user.first_name %></p>
<p>
	<%= image_tag @user.profile_pictures[0].filepicker_url, w: 160, h: 160, fit: 'clip' if @user.profile_pictures != nil %>
</p>
<%= link_to 'New Profile picture', new_profile_picture_path %>

<h3>Friends</h3>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.first_name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.first_name %></li>
  <% end %>
</ul>

