<%= form_for @profile_picture, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :user_id %>
  
  <p>
     <%= f.label :filepicker_url, "Upload Your Avatar:" %>
    <%= f.filepicker_field :filepicker_url %> <!-- User#filepicker_url is a regular string column -->
  </p>
  <p><%= f.submit %></p>
<% end %>







