<p id="notice"><%= notice %></p>

<p>
  <b>Winners_id:</b>
  <%= @stat.winners_id %>
</p>

<p>
  <b>Money earned:</b>
  <%= @stat.money_earned %>
</p>

<p>
  <b>Games won:</b>
  <%= @stat.games_won %>
</p>

<p>
  <b>Games played:</b>
  <%= @stat.games_played %>
</p>

<p>
  <b>Gold medals:</b>
  <%= @stat.first_place_finishes %>
</p>

<p>
  <b>Silver Medals:</b>
  <%= @stat.second_place_finishes %>
</p>

<p>
  <b>Bronze Medals:</b>
  <%= @stat.third_place_finishes %>
</p>

<p>
  <b>losses:</b>
  <%= @stat.losses %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>


<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>